<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" content="text/html; charset=utf-8"/>
    <title>easyui示例</title>
    <script src="webjars/jquery/3.1.1/jquery.min.js"></script>
    <script src="webjars/jquery-easyui/1.5.21/js/jquery.easyui.min.js"></script>
</head>
<body>
<h2>easyui示例</h2>
<form method="POST" enctype="multipart/form-data" action="/upload">
    <p>
        <input class="easyui-filebox" style="width:300px" />
    </p>
</form>

<script>

    $(function(){
    });
</script>

</body>
</html>